body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.card {
    border-radius: 15px;
}

.card-header {
    background-color: #343a40;
    color: #fff;
    font-weight: bold;
}

.card-body {
    background-color: #ffffff;
}

.card-body p {
    font-size: 1.1rem;
    color: #6c757d;
}
/* Larger icons */
.btn i {
    margin-right: 10px; /* Add space between the icon and text */
    font-size: 1.2rem;   /* Increase icon size */
}

/* Optionally, add color hover effect on icons */
.btn:hover i {
    color: #007bff; /* Change icon color on hover */
}
